In [1]:
from rndeda.auto_type import variable_set, detect_type

In [2]:
from rndeda.utils import is_col_categories

In [3]:
variable_set.output_graph("detect.pdf")

In [4]:
import pandas as pd

In [5]:
cate_df = pd.DataFrame({'col1': [1.0]*100 + [2.0]*300 + [3.0]*100})

In [12]:
num_df = pd.DataFrame({'col1': [1.0]*1 + [2.0]*3 + [3.0]*1})

In [6]:
cate_df.head()

   col1
0   1.0
1   1.0
2   1.0
3   1.0
4   1.0

In [7]:
is_col_categories(cate_df["col1"])

True

In [8]:
is_col_categories(cate_df["col1"])

True

In [13]:
is_col_categories(num_df["col1"])

False

In [9]:
detect_type(cate_df)

(['col1'], [Nominal], [MultiClassification])

In [14]:
detect_type(num_df)

(['col1'], [Continuous], [Regression])

In [10]:
cate_df["col1"].unique()

array([1., 2., 3.])

In [11]:
is_col_categories(cate_df["col1"])

True