In [1]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd
import re
import plotly.express as px
from rndeda import edamissing

In [2]:
df = pd.read_csv("../dataset/titanic/train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
import visions as v

# Types
v.types.Integer
v.types.DateTime

# This also works
v.Integer
v.DateTime

# Typesets
v.typesets.CompleteSet

# Also available through
v.CompleteSet

# Relations
v.relations.relations.InferenceRelation

visions.relations.relations.InferenceRelation

In [6]:
# detect type

In [14]:
from visions.typesets import StandardSet
from visions.functional import detect_type, infer_type

In [15]:
typeset = StandardSet()
typeset.types

{Boolean,
 Categorical,
 Complex,
 DateTime,
 Float,
 Generic,
 Integer,
 Object,
 String,
 TimeDelta}

In [16]:
detect_type(df["Survived"], typeset)

Integer

In [17]:
for col in df.columns:
    detect = detect_type(df[col], typeset)
    print(col, detect)

PassengerId Integer
Survived Integer
Pclass Integer
Name String
Sex String
Age Float
SibSp Integer
Parch Integer
Ticket String
Fare Float
Cabin String
Embarked String

In [18]:
for col in df.columns:
    detect = infer_type(df[col], typeset)
    print(col, detect)

PassengerId Integer
Survived Integer
Pclass Integer
Name String
Sex String
Age Float
SibSp Integer
Parch Integer
Ticket String
Fare Float
Cabin String
Embarked String

In [20]:
likely_cat = {}
for var in df.columns:
    likely_cat[var] = 1.*df[var].nunique()/df[var].count() < 0.05 #or some other threshold
    print(var, likely_cat[var])

PassengerId False
Survived True
Pclass True
Name False
Sex True
Age False
SibSp True
Parch True
Ticket False
Fare False
Cabin False
Embarked True

In [21]:
pclass = df["Pclass"]

In [22]:
pclass.nunique()

3

In [23]:
pclass.count()

891

In [24]:
pclass.nunique()/pclass.count()

0.003367003367003367

In [25]:
len(pclass)

891