In [1]:
from typing import Sequence

import numpy as np
import pandas as pd
import pandas.api.types as pdt

import visions
from visions.relations import IdentityRelation, TypeRelation
from visions.typesets.typeset import get_type_from_path

In [2]:
visions.VisionsTypeset

visions.typesets.typeset.VisionsTypeset

In [3]:
import pandas as pd
from pandas_profiling import ProfileReport

In [4]:
from visions.typesets import StandardSet, CompleteSet
type(StandardSet())

visions.typesets.standard_set.StandardSet

In [5]:
df = pd.read_csv("../dataset/adult/adult.csv")

In [6]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [7]:
problem_set = CompleteSet()
problem_set.output_graph("complete_set.png")
type(problem_set)

visions.typesets.complete_set.CompleteSet

In [8]:
problem_set.detect_type(df["marital.status"])

String

In [9]:
problem_set.infer_type(df["marital.status"])

String

In [12]:
df_should_be_cate = pd.Series([1,2,1,2,2,2,2,2,1,1,1,2])

In [17]:
df_should_be_cate2 = pd.Series([1,1,1,1,1,1,1,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,1,2,2,2,2,2,2,2,2,2,1,1,1,1,1])
df_should_be_cate3 = pd.Series([1,1,1,1,1,1,1])

In [11]:
# for target in df.columns:
#     _, problem_types, state = problem_set.detect_type(df[target])
#     problem_type = get_type_from_path(problem_types)

#     print(
#         f"The target variable '{target}' is of the {state['dtype']} statistical type."
#     )
#     print(f"Our logic found that a {problem_type} model should be used.")

TypeError: cannot unpack non-iterable VisionsBaseTypeMeta object

In [13]:
problem_set.detect_type(df_should_be_cate)

Integer

In [14]:
problem_set.infer_type(df_should_be_cate)

Integer

In [15]:
df_should_be_int = pd.Series(["1", "2", "3"])

In [16]:
problem_set.infer_type(df_should_be_int)

Integer

In [18]:
problem_set.infer_type(df_should_be_cate2)

Integer

In [19]:
problem_set.infer_type(df_should_be_cate3)

Integer