In [1]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd
import re
import plotly.express as px
from rndeda import edamissing
from rndeda import eda2d

In [2]:
df = pd.read_csv("../dataset/titanic/train.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
eda2d.create_2d_category(df, "Sex", "Survived")

KeyError: '0'

In [7]:
data = eda2d.descibe_2D_category_table(df, "Sex", "Survived")
data.head()

          0    1 percentile_0 percentile_1
Sex
female   81  233      25.80 %      74.20 %
male    468  109      81.11 %      18.89 %

In [9]:
data['']

Sex
female    25.80 %
male      81.11 %
Name: percentile_0, dtype: object